*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

 /*Paleta de colores*/
:root {
/*el negro está en el bootstrap*/
	--main-color: #FFBE00; /*60*/
	/*white 20%*/ 
	/*black 10% */
	--terciary-color: #F6F6F6; /*10*/
}

body{
	font-family: 'Titillium Web'  !important;
}

.logo{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70%;
    z-index: 10;
}

.imagen .logo{
	width: 40%;
	height: 20%;
}

.text-logo{
    position: absolute;
    margin: auto;
    bottom: 67%;
    z-index: 10;
}

.text-color-main{
	color: var(--main-color);
}

.bg-color-main{
	background-color: var(--main-color);
}

.bg-color-main-opacity{
	background-color: var(--main-color);
	opacity: .7;
}

.border-white{
	border-right: 6px solid white;
	border-bottom: 6px solid white;
	border-top: 6px solid white;
	width: 95%;
	height:95%;
}

.text-hero{
	margin-top: 22rem;
	margin-right: 4rem !important;
}

.relative{
	position: relative;
}

.image-hero{
	position: absolute;
	right: 0;
	top: 22%;
	width: 20vw;
	height: auto;
}

@media screen and (max-width: 575px){

	.border-white{
		border-top: none;
		border-bottom: none;
		border-left: 6px solid white;
	}
	.text-hero{
		margin-top: 8rem;
	}
	.image-hero{
		top: -6rem;
		width: 30%;
	}
	.logo{
	    position: absolute;
	    top: -10%;
	    left: 70%;
	    z-index: 10; 
	}
	.imagen .logo{
		width: 30%;
		height: 20%;
	}

	.text-logo{
		display: none !important;
	}

}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#wheel {
  animation: spin 4s infinite alternate;
  transform-box: fill-box;
  transform-origin: center;
}
