*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

 /*Paleta de colores*/
:root {
/*el negro está en el bootstrap*/
	--main-color: #FFBE00; /*60*/
	/*white 20%*/ 
	/*black 10% */
	--terciary-color: #F6F6F6; /*10*/
}

body{
	font-family: 'Titillium Web'  !important;
}

.text-color-main{
	color: var(--main-color);
}

.bg-color-main{
	background-color: var(--main-color);
}

.border-white{
	border-right: 6px solid white;
	border-bottom: 6px solid white;
	border-top: 6px solid white;
	width: 95%;
	height:95%;
}

.text-hero{
	padding-top: 22rem;
}

.relative{
	position: relative;
}

.image-hero{
	position: absolute;
	right: 0;
	top: 12vw;
	width: 90%;
	height: auto;
}

@media screen and (max-width: 575px){

	.border-white{
		border-top: 0;
		border-bottom: 0;
		border-left: 6px solid white;
	}
	.text-hero{
		padding-top: 8rem;
	}
	.image-hero{
		top: 3rem;
		width: 60%;
	}

}